{% extends 'layouts/layout.html' %}

{% block content %}

{% set posts = [
  {
    cat: 'Конституционное право',
    img: 'img/1.jpg',
    title: 'Адвокатов наказали за конфликт в сети',
    text: 'Одним из новых заместителей Александра Коновалова стал Денис Новак, до последнего времени занимавший должность заместителя директора Департамента экономического законодательства Минюста.'
  },
  {
    cat: 'Закон и порядок',
    img: 'img/2.jpg',
    title: 'Упущены значимые правовые категории',
    text: 'Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей'
  },
  {
    cat: 'Этика общения адвокатов',
    img: 'img/3.jpg',
    title: 'Диалог адвокатуры и следствия',
    text: 'Главное управление МВД столицы обратилось в АП г. Москвы с просьбой организовать явку представителей палаты для проведения обыска в жилище адвоката.'
  },
  {
    cat: 'Закон и порядок',
    img: 'img/4.jpg',
    title: 'Упущены значимые правовые категории',
    text: 'Федеральная палата адвокатов оперативно подготовила предложения по изменению УПК РФ во исполнение требований Президента изменить порядок заключения и содержания под стражей предпринимателей'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/2.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, neque!'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/3.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, neque!'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/1.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, neque!'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/4.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, neque!'
  },
  {
    cat: 'Dolor sit amet',
    img: 'img/3.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore aliquam unde minus. Maxime voluptates sit dolorem ratione suscipit pariatur nam.'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/2.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Labore aliquam unde minus. Maxime voluptates sit dolorem ratione suscipit pariatur nam.'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/4.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Maxime voluptates sit dolorem ratione suscipit pariatur nam.'
  },
  {
    cat: 'Lorem ipsum',
    img: 'img/1.jpg',
    title: 'Lorem, ipsum dolor.',
    text: 'Eligendi suscipit neque vel aspernatur architecto fugit consequuntur, facilis quas impedit animi excepturi, rem possimus nihil ratione quidem culpa. Quasi, at labore'
  }] %}


<div class="container">
  <!-- begin posts -->
  <div class="posts">
    <!-- begin slider -->
    <div class="posts__wrap" data-tns>

      {% for post in posts %}
      <div class="posts__item">
        <article class="post-card">
          <a href="#0" class="post-card__link">
            <div class="post-card__media">
              <div class="post-card__img" style="background-image: url('{{ post.img }}')"></div>
            </div>
            <div class="post-card__content">
              <div class="post-card__cat">
                <span class="post-card__icon">
                  <svg width="12.97" height="15.91" viewBox="0 0 12.97 15.91">
                    <path d="M11.5 0H1.47A1.46 1.46 0 0 0-.01 1.46v10.26a1.34 1.34 0 0 0 .87 1.25l7.32 2.84a1.38 1.38 0 0 0 .5.1h2.82a1.46 1.46 0 0 0 1.48-1.45v-13A1.46 1.46 0 0 0 11.5 0zM1.34 12.1l1.01-1.04a.5.5 0 0 1 .7-.02l3.25 3zm10.65 2.35a.49.49 0 0 1-.49.48H8.7l-4.97-4.6a1.5 1.5 0 0 0-2.09.07l-.66.68V1.45a.49.49 0 0 1 .49-.48H11.5a.49.49 0 0 1 .5.48v13z" fill-rule="evenodd"/>
                  </svg>
                </span>
                {{ post.cat }}
              </div>
              <div class="post-card__title">{{ post.title }}</div>
              <p class="post-card__text">{{ post.text }}</p>
              <div class="post-card__date">26 августа</div>
            </div>
          </a>
        </article>
      </div>
      {% endfor %}
    </div>
    <!-- end slider -->
  </div>
  <!-- end posts -->
</div>

{% endblock %}
