@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/philosopherbold.woff) format('woff'), url(../fonts/philosopherbold.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto-serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/notoserif.woff) format('woff'), url(../fonts/notoserif.woff2) format('woff2');
}

@font-face {
  font-family: 'Noto-serif';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/notoserifbold.woff) format('woff'), url(../fonts/notoserifbold.woff2) format('woff2');
}

html {
  font-size: 16px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-sans;
  font-size: 1rem;
  line-height: $base-line-height;
  color: $body-color;
  background: $body-bg;
  padding: 50px 0;
}

.container {
  max-width: 1442px;
  width: 100%;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
}
